.selectedThumbnail {
    margin-top: -25px;
}

.thumbnailImg {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.triangleDiv {
    margin-left: 42px;
    margin-bottom: -10px;
    width: 0;
    height: 0;
    border: 14px solid;
    border-color: transparent transparent white;
}

.unselectedThumbnail {
    margin: 0px;
}

.unselectedThumbnail:hover {
    margin-top: -41px;
}

.popUpThumbnailNameContainer {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.popUpThumbnailName {
    background-color: rgba(33, 32, 32);
    width: 150px;
    height: 26px;
    border-radius: 4px;
    box-shadow: 0px 5px 10px #313131;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popUpThumbnailTriangle {
    width: 0px;
    height: 0px;
    border: 14px solid;
    border-color: rgba(33, 32, 32)  transparent transparent;
}