<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Things to do today</h1>
    <% for (let issue of todos) { %>
      <li><%=  issue %></li>
    <% } %>
  </body>
</html>